<!-- Container (About Section) -->
<div id="about" class="container-fluid  text-left">
    <div class="row">
        <div class="col-sm-8">
            <h2>Lakme - Inspired Haircare</h2><br>
            <h4>Профессия парикмахера - искусство работы с волосами</h4><br>
            <h4>В Lakme мы понимаем профессию парикмахера, как творчество и форму искусства. Хорошая работа в салоне возможна благодаря таланту профессионалов с уникальными способностями и виртуозностью, которые являются мастерами своего дела.</h4>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/10.png" alt="Image" style="width:100%">
        </div>
    </div>
</div>

<div class="container-fluid bg-white text-left">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tree-conifer logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Наши ценности</h2><br>
            <h4><strong>МИССИЯ:</strong> Наша планета нуждается в заботе! Lakme выбирает путь, в который мы твердо верим и который будет способствовать нашему дальнейшему развитию, ведь бережное отношение к тому, что нас окружает, свидетельствует об ответственности и вере в будущее.</h4><br>
            <h4><strong>ВЗГЛЯД:</strong> " Устойчивое развитие направлено на удовлетворение потребностей общества таким образом, чтобы жить в рамках эколонических пределов нащей планеты, не стая под угрозу способность следующий поколений удовлетворять свои потребности".</h4>
        </div>
    </div>
</div>

<div id="portfolio" class="container-fluid text-center bg-white">
    <h2>Что говорят наши клиенты...</h2>
    <div class="container-fluid bg-white">
        <div class="col-sm-4">
            <h4>"Эта компания - лучшее, что со мной случалось! Я так рад быть ее частью."<br><span>Исполнительный директор, Горюк Олег</span></h4>
        </div>
        <div class="col-sm-4">
            <h4>"Едиственное, что приходит на ум ... ВАУ!"<br><span>Клиент с 2012 года, Горюк Анастасия</span></h4>
        </div>
        <div class="col-sm-4">
            <h4>"Этот бренд я называю качеством ... проверенным годами !"<br><span>Клиент с 2013 года, Потапенко Алексей</span></h4>
        </div>
    </div>
</div>