<div class="container text-center">
    <h1>#MASTER </h1><br>
</div>

<div class="container text-center" >
    <div class="col-sm-4">
        <div class="panel panel-primary ">
            <div class="panel-heading">Кондиционер мгновенного действия</div>
            <div class="panel-body"><img src="~/Images/lak2.jpg " class="img-responsive" style="max-height: 300px " alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Бальзам</div>
            <div class="panel-body"><img src="~/Images/masbalsam.jpg " class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Шампунь</div>
            <div class="panel-body"><img src="~/Images/masshampoo.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container text-center" >
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary ">
                <div class="panel-heading">Масло после окрашивания</div>
                <div class="panel-body"><img src="~/Images/masremover.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Масло до окрашивания</div>
                <div class="panel-body"><img src="~/Images/masprotector.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

