@{
    ViewBag.Title = "Index";
}
<h1>#LAKME</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Images/lakme4.jfif" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-lg-4">
            <img src="~/Images/lakme5.jfif" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-lg-4">
            <img src="~/Images/lakme8.jfif" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div>



