<div class="container text-center">
    <h1>#K.THERAPY</h1><br>
    <div class="collapse navbar-collapse " id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Lecenie", "Home")"><h2> Шампуни </h2></a></li>
            <li><a href="@Url.Action("LecenieMaski", "Home")"><h2> Маски </h2></a></li>
            <li><a href="@Url.Action("LecenieDrugoe", "Home")"><h2> Другое </h2></a></li>
        </ul>

    </div>
</div>
<div class="container text-center">
    <div class="col-sm-4">
        <div class="panel panel-primary ">
            <div class="panel-heading">Укрепляющая маска</div>
            <div class="panel-body"><img src="~/Images/ktamask.jpg " class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Матовая маска</div>
            <div class="panel-body"><img src="~/Images/ktpurmask.jpg " class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Питательная маска</div>
            <div class="panel-body"><img src="~/Images/ktrmask.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary ">
                <div class="panel-heading">Bio-argan Увлажняющая маска</div>
                <div class="panel-body"><img src="~/Images/bamask.jpg" class="img-responsive" style="min-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Восстанавливающий флюид</div>
                <div class="panel-body"><img src="~/Images/ktrfluid.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Расслабляющая маска</div>
                <div class="panel-body"><img src="~/Images/ktsbalm.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>