<div class="container text-center">
    <h1>#TEKNIA </h1><br>
    <div class="collapse navbar-collapse " id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Uhod", "Home")"><h2> Шампуни </h2></a></li>
            <li><a href="@Url.Action("UhodMaski", "Home")"><h2> Маски </h2></a></li>
            <li><a href="@Url.Action("UhodDrugoe", "Home")"><h2> Другое </h2></a></li>
        </ul>

    </div>
</div>
<div class="container text-center">
    <div class="col-sm-4">
        <div class="panel panel-primary ">
            <div class="panel-heading">Organic balance treatment</div>
            <div class="panel-body"><img src="~/Images/tekotreatment.jpg " class="img-responsive" style="max-height: 300px " alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Full defense treatment</div>
            <div class="panel-body"><img src="~/Images/tekfultreatment.jpg " class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">Frizz control treatment</div>
            <div class="panel-body"><img src="~/Images/tekfriztreatment.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                    <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary ">
                <div class="panel-heading">Body maker balm</div>
                <div class="panel-body"><img src="~/Images/tekbbalm.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Deep care treatment</div>
                <div class="panel-body"><img src="~/Images/tekdtreatment.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Color stay treatment</div>
                <div class="panel-body"><img src="~/Images/tekctreatment.jpg" class="img-responsive" style="max-height: 300px" alt="Image"></div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button">О товаре</a></div>
                        <div class="col-sm-6"><a href="#" class="btn btn-info" role="button"> В корзину <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

